{
  "parser": "babel-eslint",
  // "extends": "airbnb",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": [
  	"react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "$": true,
    "ENV_PRODUCTION": false,
    "IS_EXTERNAL_RELEASE": false,
    "LOGGING_ENABLED": false,
    "Raven": false
  },
  "rules": {
    "no-console": [0],
    "no-unused-vars": [1],
    "react/prop-types": [1]
  }
}

/* eslint-disable */
/* eslint-enable */
