$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;

// Z-Index Applications 

$zIndex-2--pageNav: $zIndex-2;
$zIndex-4--actionBar: $zIndex-4;
$zIndex-7--nav: $zIndex-7;
$zIndex-9--modal: $zIndex-9;
