.purchase__wrapper { // padding for fixed backgrounds
	// @include padding-box($padding-box-xx-large);
	padding-top: 100px;
	padding-bottom: 50px;
}

.purchase__steps {
	@include text-sb-size($text-medium, -0.4);
	@include padding-box($padding-box-medium);
	color: $palette-text-inactive;
	display: flex;
	margin-top: -2rem;
}

.join__wrapper {
	.purchase__steps {
		margin-top: -2.75rem;
	}
}

.purchase__step {
	padding-right: 1rem;
}

.purchase__step--inactive {
	color: $palette-text-weak;
}


.purchase__container {
	@include span-columns(4);
	@include shift(4);

	@include media($phablet) {
		@include span-columns(8 of 12);
		@include shift(2 of 12);
	}

	@include media($mobile) {
		@include span-columns(10 of 12);
		@include shift(1 of 12);
	}
	
	background-color: $palette-white;
	box-shadow: $elevation-shadow-4;
	position: relative;
	z-index: 1000;
	border-radius: 4px;
}

.purchase__titleGroup {
	@include margin-horizontal($margin-horizontal-medium);
	@include padding-box($padding-box-medium);
	border-bottom: 1px solid $palette-shadow;
}

.purchase__title {
	@extend %text--title;
	text-align: center;
}

.purchase__signUp {
	height: 100%;
	.form__container {
			margin-left: auto;
			margin-right: auto;
		.form {
			
		}
	}
}

.purchase__signUp {
	.join__joinButton {
		@include padding-box($padding-box-large);
	}
}

.purchase__signUp {
	.join__input--first {
		border-bottom-color: rgba($palette-yellow, $active);
	}

	.join__input--last {
		border-bottom-color: rgba($palette-yellow, $active);
	}

	.join__input--email {
		border-bottom-color: rgba($palette-orange, $active);
	}

	.join__input--password {
		border-bottom-color: rgba($palette-orange, $active);
	}

	.join__input--password2 {
		border-bottom-color: rgba($palette-mango, $active);
	}
	.join__input--promo {
		border-bottom-color: rgba($palette-mango, $active);
		// background-color: rgba($palette-mango, $faint);
	}
}

.purchase__paymentSubmit {
	display: flex;
	justify-content: center;
}

.purchase__paymentSubmit {
	form {
		
	}
}

.join__joinButton {
	a {
		text-decoration: none;
	}
	span {

	}
}

.join__joinButtonLink {
	text-decoration: none;
	color: inherit;
}

.join__joinButton {
	.stripe-button-el, .join__button-el {
		background: none;
		background-image: none;


		background-image: linear-gradient(0deg, $gradient-spin-color);
		box-shadow: $elevation-shadow-2;
		border-radius: 4px;
		padding: 4px;	
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
		animation: gradient-spin 10s ease infinite;
		transition-property: box-shadow;
		transition-timing-function: $transition-ease;
		transition-duration: 400ms;
		
		&:not(:disabled):active {
			background: none;
			span {
				background: none;
			}	
		}

		&:focus {
			outline: solid 2px $orange-500;
		}

		&:hover {
			animation: gradient-spin 1s ease-in-out infinite;
			box-shadow: $elevation-shadow-3;
			color: $palette-text-active;
		}
		span {
			background: none;
			background-image: none;
			@include padding-centered-text($padding-text-xx-large);
			@include padding-box($padding-box-small);
			@include text-sb-size($text-large);
			color: rgba(35, 35, 35, 0.64);
			font-family: $font;
			text-shadow: none;
			// @extend %text--titleFourth;
			background-color: $palette-white;
			border-radius: 4px;
			height: 100%;
			&:active {
				background: none;			
			}
		}
	}
}

.social-btn {
  position:relative;
  width:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:1rem;
  border-radius:6px;
  border:0;
  font-size:1.2em;
  color:#fff;
  text-shadow:1px 1px 0px rgba(0,0,0,.1);
  box-shadow:0px 3px 0px #c1524e;
  cursor:  pointer;
  min-width: 33%;
  text-align: center;
  text-decoration: none;
}

.social-btn:active {
  top:3px;
  box-shadow:none;
}

.social-btn:hover {
    text-decoration: none;
    color: #eee;
}

.fb {
    margin-top:15px;
    background:#3b5998;
    box-shadow:0px 3px 0px #2c416e;
}


.google {
    background:#db4a39;
    box-shadow:0px 3px 0px #b93f31;
}

.social__divider {
    border-bottom: solid 1px #ccc;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
}

.social__options {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
