.pageContainer {
	max-width: $page-width;
	margin-right: auto;
	margin-left: auto;
}

.pageContainer--external {
	// @include outer-container();
	max-width: 1920px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-right: auto;
	margin-left: auto;
}

.pageContainer__banner {
	position: absolute;
	top: 57px;
	width: 100%;
	box-shadow: $elevation-shadow-1;
	height: 56px;
	background-color: $palette-light;
	background-image: linear-gradient(to right, rgba($palette-mango-bg, $inactive) 15%, rgba($palette-mango-bg, 0) 16%, rgba($palette-mango-bg, 0) 84%, rgba($palette-yellow-bg, $inactive) 100%);
}