// TEMPCSS start: Complete This | JH
.bottomBar__container {
	// // @include outer-container(100%);
	// // @include span-columns(12);
	// background-color: rgba($grey-150, $strong);
	// border-top-width: 0.5rem;
	// border-top-style: solid;
	// border-image: linear-gradient(to left, $yellow-500 0%, $yellow-500 24%, $orange-500 38%, $orange-500 62%, $mango-500 76%);
	// border-image-slice: 1;
	// box-shadow: 0 -2px 4px rgba($black-500, $weak), // TODO: Need to add this to a transition | AjH
 //                0 -8px 16px rgba($black-500, $weak);
	// position: fixed;
	// bottom: 0;
	// overflow-y: hidden;
	// left: 0;
	// right: 0;
	// padding-top: 1rem;
	// padding-left: 3.5rem;
	// padding-right: 3.5rem;
	// display: flex;
	// flex-direction: row;
	// flex-wrap: nowrap;

	// min-height: 1rem; // TODO Need to set some friendly value here - AjH
}

.componentEditorModal__container {
	// @include span-columns(6 of 12); // TODO: Jack: what are we doing with neat here | AjH
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex-basis: 100%;
}


.componentEditorModal__content {
	// @extend %portrait;
	// @include glass--backgroundColour($grey-100, $active);
	// @include portrait__border($orange-500);
	// flex-basis: 100%;
	// margin-top: 0.5rem;
}
